body {
  @media screen and (max-width: 768px) {
    .content {
        width: 100%;
    }
}
    margin: 0;
    padding: 0;
    background-size: 100%;
    background:url();
    background-repeat:no-repeat;
    background-color: rgb(236, 173, 173);
    background-position: center;

  }
  
  header {
    text-align: center;
    margin-top: 0px;
    padding: 0;
  }
  
  h1 {
    font-size: 50px;
    padding: 0px;
    color: hsla(0, 0%, 0%, 0.683);
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
  }


  h2 {
    font-size: 30px;
    padding: 15px;
    text-transform: uppercase;
    color: hsla(233, 74%, 55%, 0.683);
  }

  h3 {
    font-size: 20px;
    padding: 0px;
    text-transform: uppercase;
    text-align: left;
    margin-left: 25px;
    font-weight: 500;
    line-height: 2.0;
    letter-spacing: 0.9px;
    margin:20px;
  }
  
  

  a {
    color: #420606;
    font-style: italic;
    font-stretch: normal;
    font-weight: normal;
    font:italic normal 
  }


  table {
    padding: 5%;
    height: 40%;
    left: 10%;
    margin: 0px auto;
    overflow-y: scroll;
    
    width: 80%;
    background-color:transparent;
    text-align: center;
    border: #6c1313;
    border-radius:32px ;
    visibility:initial;
  }

  table thead{
    font-size: 28px;
  }

  table tbody{
    font-size: 24px;
  }

  #overlay{
    text-align: center;
  }

   #play {
   padding: 0px;
   color: #fafafa;
   text-align: center;
   margin: 0px auto 0px auto}

   .playername{
    text-align: center;
   }

   #symbol{
    
    text-align: center;
   }

   .playImg{
    display:ruby;
    margin: 0px auto;
    padding: 0px;
    text-align: center;

    border-radius: 50px;
  
    background-repeat:no-repeat auto;
   }

   .playImg p {
    font-size: 30px;

   }

   .val{
    display:flex;
   flex-direction: row;
    text-align: center;
    justify-content: center;
    
    
    padding: 10px;
    margin:20px;
    align-items:flex-start;
   }

   .firstRound{
    margin-right:3%;
    justify-content: center;
   }
   .secondRound{
    margin-right:3%;
    justify-content: center;
   }

   .thirdRound{
    margin-right:35%;;
    justify-content: center;
   }

   .firstCom{
    margin-right:3%;
    display: none;}
    

   .secondCom{
    margin-right:3%;
    display: none;
   }
   .thirdCom{
    margin-right:3%;
    display: none;
   }
   .computerImgC{
    margin-right:3%;
    display: block;
   }

   .yourch{
    display:flex;
    justify-content: space-around;
    margin-left:13%;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style:initial;
    color: rgb(59, 13, 159);
   }

   .textChoise{
    margin-right: 0%
   }
  .compChoise{
   margin-left:0% ;
   
  }



  #startPlay{
      border: 0;
      line-height: 10;
     
      padding: 0 20px;
      font-size: 1rem;
      text-align: center;
      color: #fff;
      text-shadow: 1px 1px 1px #000;
      border-radius: 30px;
      background-color: rgba(220, 0, 0, 1);
      background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
      box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
      align-items: center;
     
  }

  .starInstra{
    display:flex;
    justify-content: center;
  }

  .instractionC{
    margin-right:0% auto
  }

  .instractionC p{
    font-size: 18px;
    margin-left:3%;
  }
  
  
 
  
  
  
  

   footer{
    text-align: center;
    margin: 300px;
   }
  